label {
	color: #FFFFFF;
}

textfield {
	width: 100%;
}

listview {
	width: 100%;
}

listview label {
	color: #000000;
}

.checkbox {
	color: #FFFFFF;
}

.gui {
	width: 100%;
	height: 100%;
}

.panel {
	width: 200px;
	height: 100%;
	horizontal-align: right;
	vertical-align: top;
	
	background: #567798 #112233;
	padding: 10px;
}

.line {
	width: 100%;
}